* {
  margin: 0;
  padding: 0;
}
body {
  /* dark mode */
  --color: #ccc;
  --bg: #030303;
  /* light mode */
  /* --color: #5299d3ff;
    --bg:#fff; */
  position: relative;
  font-family: "Inter", sans-serif;
  background-color: var(--bg);
  color: var(--color);
  overflow: hidden;
  padding: 30px 15px;
  height: 100vh;
  background: -webkit-linear-gradient(45deg, #000000, #242323);
  background: linear-gradient(45deg, #000000, #242323);
  text-transform: capitalize;
  /* background: -webkit-Linear-gradient(to left,#184d5d,#270c59);
background: Linear-gradient(to left,#184d5d,#270c59);  */
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .city-name {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  background: #2d2d2d;
  box-shadow: inset -14px 14px 28px #262626, inset 14px -14px 28px #343434;
}
header .time {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}
header .time p {
  margin-top: 1rem;
  font-size: 1rem;
}
.temperature {
  display: flex;
  justify-content: space-between;
}
.search-weather {
  position: relative;
}
.search-weather input {
  width: 80vw;
  padding: 0.8rem;
  border-radius: 0.4rem;
  display: block;
  margin: 1rem auto;
}
.search-weather input::placeholder {
  font-size: 1rem;
  font-weight: 500;
}
.search-weather input:focus {
  outline: none;
}
.search-weather button {
  background-color: transparent;
  border: none;
}
.search-weather button img {
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: 2%;
  height: 40px;
}
.weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.weather img {
  height: 200px;
}
.weather h1 {
  font-size: 2rem;
  font-weight: 600;
}
.weather h2 {
  margin: .5rem;
  font-size: 1.3rem;
  font-weight: 300;
}
.temperature{
  position: absolute;
  bottom: 20%;
  right: 0;
  left: 0;
}
.temperature .min-max{
  position: absolute;
  bottom: 0%;
  left: 5%;
  margin: 0rem 0 10px;
}
.temperature .min-max h2{
  font-style: .9rem;
  font-weight: 300;
}
.temperature .current{
  position: absolute;
  bottom: 0%;
  right: 5%;
  font-size: 4.5rem;
}
@media all and (min-height:750px){
  .weather img {
    height: 300px;
  }
}
@media all and (min-width:768px){
  body{
    padding: 1rem 4rem;
  }
  .temperature .current{
    font-size: 7rem;
  }
}
@media all and (min-width:991px){
  body{
    padding: 1rem 7rem;
  }
  .search-weather input {
    width: 60vw;
    margin: 1rem auto 0;
  }
  .search-weather button img {
    right: 13%;
    top: 0%;
    height: 50px;
  }
  .weather img {
    height: 300px;
  }
  .temperature{
    bottom: 10%;
  }
  .temperature .min-max{
    left: 10%;
  }
  .temperature .current{
    font-size: 7rem;
  }
}